{% extends 'base.html' %}
{% block title %}Flexbox{% endblock %}
{% block flexbox %}

<h2 id="flexbox">Flexbox</h2>

<section class="grid-flex">
    <div>
        <img src="/static/img/image1.jpeg">
        <p>Flexbox 1</p>
    </div>

    <div>
        <img src="/static/img/image2.jpeg">
        <p>Flexbox 2</p>
    </div>

    <div>
        <img src="/static/img/image3.jpeg">
        <p>Flexbox 3</p>
    </div>

    <div>
        <img src="/static/img/image3.jpeg">
        <p>Flexbox 4</p>
    </div>

    <div>
        <img src="/static/img/image1.jpeg">
        <p>Flexbox 5</p>
    </div>

    <div>
        <img src="/static/img/image2.jpeg">
        <p>Flexbox 6</p>
    </div>
</section>

{% endblock %}