{% extends 'base.html' %}
{% block title %}Grid Layout{% endblock %}
{% block gridlayout %}

<h2 id="gridlayout">Grid Layout</h2>

<section class="grid-layout">
    <div>
        <img src="/static/img/image2.jpeg">
        <p>Legenda 1</p>
    </div>

    <div>
        <img src="/static/img/image3.jpeg">
        <p>Legenda 2</p>
    </div>

    <div>
        <img src="/static/img/image1.jpeg">
        <p>Legenda 3</p>
    </div>

    <div>
        <img src="/static/img/image1.jpeg">
        <p>Card 1</p>
    </div>

    <div>
        <img src="/static/img/image2.jpeg">
        <p>Card 2</p>
    </div>

    <div>
        <img src="/static/img/image3.jpeg">
        <p>Card 3</p>
    </div>

    <div>
        <img src="/static/img/image1.jpeg">
        <p>Card 4</p>
    </div>

    <div>
        <img src="/static/img/image2.jpeg">
        <p>Card 5</p>
    </div>

    <div>
        <img src="/static/img/image3.jpeg">
        <p>Card 6</p>
    </div>

    <div class="anuncio">
        <img src="/static/img/image3.jpeg">
        <p>Anúncio</p>
    </div>

</section>

{% endblock %}