{% extends 'base.html' %}
{% block container %}

<h1>Home</h1>
<div class="content">

    <div class="home">
        <div class="grid-layout">
            <h2>PROPRIEDADES GRID LAYOUT</h2>
            <ul>
                <li>display: grid</li>
                <li>grid-template-columns</li>
                <li>grid-template-rows</li>
                <li>grid-gap</li>
                <li>grid-row-gap</li>
                <li>grid-column-gap</li>
                <li>grid-template-areas</li>
            </ul>
        </div>

        <div class="grid-layout">
            <h2>PROPRIEDADES FLEXBOX</h2>
            <ul>
                <li>display: flex</li>
                <li>flex-direction</li>
                <li>flex-wrap</li>
                <li>justify-content</li>
                <li>align-items</li>
            </ul>
        </div>

    </div>
</div>

{% endblock %}